*{
  box-sizing: border-box;
}
body{
  background-color: #8D8D8D;
  margin: 0;
  min-height: 100vh;
}
.App {
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.display-box{
  background-color: #B3B3B3;
  border: 3px solid #FFA500;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  padding: 20px;
}
.box{
  background-color: #8D8D8D;
  height: 60px;
  width: 80px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active{
  background-color: #FFA500;
}
.beat-name{
  display: none;
  font-size: 10px;
}